* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;;
    font-family: Verdana, Geneva, Tahoma, monospace;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;

}

h1{
    text-align: center;
}

h1, h3, h4{
    color: rgb(179, 80, 0);
}

img{
    max-width: 400px;
    margin: 0 auto;
}

ul, ol{
    line-height: 2rem;
    text-align: justify;
}

.general-link{
    text-decoration: none;
    color: blueviolet;
}
.general-link:visited{
    text-decoration: none;
    color: blueviolet;
}
.general-link:hover{
    text-decoration: underline;
    color:  rgb(179, 80, 0);
}

button{
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, monospace;
    padding: 5px 10px;
    text-align: center;
    border: none;
    font-weight: bold;
    
}

.btn-link{
    text-decoration: none;
    color: white;
}

.btn-link:visited{
    text-decoration: none;
    color: white;
}

.btn-link:hover{
    text-decoration: underline;
    color: white;
}

footer{
    margin-bottom: 50px;
    text-align: center;
}